<ion-view cache-view="false" view-title="{{ navTitle }}">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-search-strong" ng-click="search()"></button>
    </ion-nav-buttons>
  	<ion-content has-bouncing="true" style="background:#e6ffe0;">
      	<ion-refresher
        	pulling-text="Pull to refresh..."
        	on-refresh="initializeBusAccount()">
      	</ion-refresher>
  		<center>
	        <p style="font-size:20px;margin-top:5%;color:#606468;">Lists of Business Account(s)</p>
	    </center>
      	<div class="list list-inset"  ng-if="is_go_search">
	        <div class="item item-input">
	          <i class="icon ion-search placeholder-icon"></i>
	          <input type="text" placeholder="Search Company Name" ng-model="data.query" class="input" ng-keyup="searchAccount()" autofocus>
	          <i class="icon ion-ios-close-outline l_search_x " ng-click="clear()" ng-if="data.query.length >= 1" ></i>
	        </div>
      	</div>
	    <div class="list" ng-show="businessAccount != 0" style="margin-top:10px">
		    <a class="item item-avatar" ng-repeat="list in businessAccount track by $index" style="margin-left:10px;margin-right:10px;" ng-click="actionBusiness(list.provider_id,list.status)">
		      <img src="img/profile.png">
		      <h2><b style="color:#2bb873;">{{ list.company_name }}</b></h2>
		      <p>{{ list.email }}</p>
		    </a>
		</div>
		<div class="card" ng-show="businessAccount == 0"style="margin-top:10px">
		    <div class="item item-text-wrap">
		      No business account(s) found.
		    </div>
		</div>
  	</ion-content>
</ion-view>

<script id="viewBusinessInfo.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar style="background:#2bb873;">
      <h1 class="title" style="color:white">Business Account Information</h1>
      <button class="button button-icon ion-ios-close-outline" style="color:white" ng-click="closeBusinesssModal();"></button>
    </ion-header-bar>
    <ion-content class="modalLogin appoint" has-bouncing="true" delegate-handle="mainScroll">
    	<br>
	    <div class="list card" >

		  	<div class="item item-avatar">
		    	<img src="img/profile.png">
		    	<h2><b>{{ userInfo.company_name }}</b></h2>
		    	<p>{{ userInfo.email }}</p>
		  	</div>

		  	<div class="item item-body">
		    	<p>	Certification Number: <b>{{ userInfo.certification_number }}</b><br>
		    		Latitude: <b>{{ userInfo.latitude }}</b><br>
		    		Longitude: <b>{{ userInfo.longitude }}</b><br>
		    		Phone: <b>{{ userInfo.phone }}</b>
		    	</p><hr>

		    	<p>Services: </p>
		    	<div ng-if="services != 0">
		    		<p><span ng-repeat="serv in services">&nbsp;&nbsp;&nbsp;<i class="ion ion-arrow-right-c"></i> &nbsp;{{ serv.service_name }} : <b> ${{ checkNan(serv.service_cost) }} </b><br></span></p>
		    	</div>
		    	<div ng-if="services == 0"><p>No Services yet !</p></div>
		    	<hr>
		    	
		    	<p>	Reviews: </p>
		    	<div ng-if="view_ratings">
			    	<center><p style="font-size:30px;">
			    		<b> {{ avg }}</b>
			    		<rating ng-model="rating.rate" max="rating.max"></rating><br>
			    	</p></center>
			    	<p>
			    		<div class="row">
			    			<div class="col-30">
			    				<i class="icon ion-android-star" style="color:#9FC05A"></i> 5 :
			    			</div>
			    			<div class="col">
			    				<div style="height: 16px; width: {{rate.five}}%; transition: width 0.1s; background: #9FC05A;margin-top:-3px;"></div>
							</div>
			    		</div>
			    		<div class="row">
			    			<div class="col-30">
			    				<i class="icon ion-android-star" style="color:#ADD633"></i> 4 :
			    			</div>
			    			<div class="col">
			    				<div style="height: 16px; width: {{rate.four}}%; transition: width 0.1s; background: #ADD633;margin-top:-3px;"></div>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<div class="col-30">
			    				<i class="icon ion-android-star" style="color:#FFD834"></i> 3 :
			    			</div>
			    			<div class="col">
			    				<div style="height: 16px; width: {{rate.three}}%; transition: width 0.1s; background: #FFD834;margin-top:-3px;"></div>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<div class="col-30">
			    				<i class="icon ion-android-star" style="color:#FFB234"></i> 2 :
			    			</div>
			    			<div class="col">
			    				<div style="height: 16px; width: {{rate.two}}%; transition: width 0.1s; background: #FFB234;margin-top:-3px;"></div>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<div class="col-30">
			    				<i class="icon ion-android-star" style="color:#FF8B5A"></i> 1 :
			    			</div>
			    			<div class="col">
			    				<div style="height: 16px; width: {{rate.one}}%; transition: width 0.1s; background: #FF8B5A;margin-top:-3px;"></div>
			    			</div>
			    		</div>
			    	</p>
			    </div>
			    <div ng-if="!view_ratings"><p>No Rating(s) yet !</p></div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button class="button button-block button-balanced" ng-click="viewMap(location)">View Map</button>
			</div>
		</div>
    </ion-content>
  </ion-modal-view>
</script>