<ion-view cache-view="false" view-title="{{ navTitle }}">
  	<ion-content has-bouncing="true" style="background:#e6ffe0;">
  		<center>
	        <p style="font-size:20px;margin-top:5%;color:#606468;">Lists of Inactive Business Account(s)</p>
	    </center><br>
	    <div class="list" ng-show="inactiveAccount != 0" style="margin-top:10px">
		    <a class="item item-avatar" ng-repeat="list in inactiveAccount track by $index" style="margin-left:10px;margin-right:10px;" ng-click="actionInactive(list.provider_id)">
		      <img src="img/profile.png">
		      <h2>{{ list.company_name }}</h2>
		      <p>{{ list.email }}</p>
		    </a>
		</div>
		<div class="card" ng-show="inactiveAccount == 0"style="margin-top:10px">
		    <div class="item item-text-wrap">
		      No inactive business account(s) found.
		    </div>
		</div>
  	</ion-content>
</ion-view>

<script id="viewBusinessInfo.html" type="text/ng-template">
  <ion-modal-view>
    <div class="bar bar-header" style="background:#2bb873;">
      <h1 class="title" style="color:white">Business Account Information</h1>
      <button class="button button-icon ion-ios-close-outline" style="color:white" ng-click="closeBusinesssModal();"></button>
    </div>
    <ion-content class="modalLogin appoint" has-bouncing="true">

      <center>
			<p style="font-size:20px;color:#2bb873;margin:0 0 0 ;margin-top:5%;"><i class="icon ion-information-circled "></i> Information</p>
	    </center>
	    <div class="list card" >

		  	<div class="item item-avatar">
		    	<img src="img/profile.png">
		    	<h2><b>{{ userInfo.company_name }}</b></h2>
		    	<p>{{ userInfo.email }}</p>
		  	</div>

		  	<div class="item item-body">
		    	<p>	Certification Number: <b>{{ userInfo.certification_number }}</b><br>
		    		Latitude: <b>{{ userInfo.latitude }}</b><br>
		    		Longitude: <b>{{ userInfo.longitude }}</b><br>
		    		Phone: <b>{{ userInfo.phone }}</b>
		    	</p><hr>
		    	
		    	<p>	Your reviews: </p>
		    	<div ng-if="view_ratings">
			    	<center><p style="font-size:30px;">
			    		<b> {{ avg }}</b>
			    		<rating ng-model="rating.rate" max="rating.max"></rating><br>
			    	</p></center>
			    	<p>
			    		<div class="row">
			    			<div class="col-30">
			    				<i class="icon ion-android-star" style="color:#9FC05A"></i> 5 :
			    			</div>
			    			<div class="col">
			    				<div style="height: 16px; width: {{rate.five}}%; transition: width 0.1s; background: #9FC05A;margin-top:-3px;"></div>
							</div>
			    		</div>
			    		<div class="row">
			    			<div class="col-30">
			    				<i class="icon ion-android-star" style="color:#ADD633"></i> 4 :
			    			</div>
			    			<div class="col">
			    				<div style="height: 16px; width: {{rate.four}}%; transition: width 0.1s; background: #ADD633;margin-top:-3px;"></div>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<div class="col-30">
			    				<i class="icon ion-android-star" style="color:#FFD834"></i> 3 :
			    			</div>
			    			<div class="col">
			    				<div style="height: 16px; width: {{rate.three}}%; transition: width 0.1s; background: #FFD834;margin-top:-3px;"></div>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<div class="col-30">
			    				<i class="icon ion-android-star" style="color:#FFB234"></i> 2 :
			    			</div>
			    			<div class="col">
			    				<div style="height: 16px; width: {{rate.two}}%; transition: width 0.1s; background: #FFB234;margin-top:-3px;"></div>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<div class="col-30">
			    				<i class="icon ion-android-star" style="color:#FF8B5A"></i> 1 :
			    			</div>
			    			<div class="col">
			    				<div style="height: 16px; width: {{rate.one}}%; transition: width 0.1s; background: #FF8B5A;margin-top:-3px;"></div>
			    			</div>
			    		</div>
			    	</p>
			    </div>
			    <div ng-if="!view_ratings"><p>No Rating(s) yet !</p></div>
			</div>
		</div>
    </ion-content>
  </ion-modal-view>
</script>