<ion-view cache-view="false" view-title="{{ navTitle }}" >
  	<ion-content class="calendar" has-bouncing="true">

        <center>
			<p style="font-size:20px;color:#2bb873;margin:0 0 0 ;margin-top:5%;"><i class="icon ion-information-circled "></i> Information</p>
	    </center>
	    <div class="list card" >

		  	<div class="item item-avatar">
		    	<img src="img/profile.png">
		    	<h2><b>{{ userInfo.profile_firstname }} {{ userInfo.profile_lastname }}</b></h2>
		    	<p>{{ userInfo.profile_email }}</p>
		  	</div>

		  	<div class="item item-body">
		    	<p>	Property Name: <b>{{ userInfo.property_name }}</b><br>
		    		Address: <b>{{ userInfo.property_address }}</b><br>
		    		Postal Code: <b>{{ userInfo.property_postal_code }}</b><br>
		    		Phone: <b>{{ userInfo.property_phone }}</b>
		    	</p><hr>
		    	<p>	Card Name: <b>{{ userInfo.card_name }}</b><br>
		    		Card Number: <b>{{ userInfo.card_number }}</b><br>
		    		Start Date: <b>{{ formatDate(userInfo.card_start_date) }}</b><br>
		    		End Date: <b>{{ formatDate(userInfo.card_end_date) }}</b><br>
		    		Issue Number: <b>{{ userInfo.card_issue_number }}</b>
		    	</p><hr>
		    	
		    	<p>	Your reviews: </p>
		    	<div ng-if="view_ratings">
			    	<center><p style="font-size:30px;">
			    		<b> {{ avg }}</b>
			    		<rating ng-model="rating.rate" max="rating.max"></rating><br>
			    	</p></center>
			    	<p>
			    		<div class="row">
			    			<div class="col-30">
			    				<i class="icon ion-android-star" style="color:#9FC05A"></i> 5 :
			    			</div>
			    			<div class="col">
			    				<div style="height: 16px; width: {{rate.five}}%; transition: width 0.1s; background: #9FC05A;margin-top:-3px;"></div>
							</div>
			    		</div>
			    		<div class="row">
			    			<div class="col-30">
			    				<i class="icon ion-android-star" style="color:#ADD633"></i> 4 :
			    			</div>
			    			<div class="col">
			    				<div style="height: 16px; width: {{rate.four}}%; transition: width 0.1s; background: #ADD633;margin-top:-3px;"></div>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<div class="col-30">
			    				<i class="icon ion-android-star" style="color:#FFD834"></i> 3 :
			    			</div>
			    			<div class="col">
			    				<div style="height: 16px; width: {{rate.three}}%; transition: width 0.1s; background: #FFD834;margin-top:-3px;"></div>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<div class="col-30">
			    				<i class="icon ion-android-star" style="color:#FFB234"></i> 2 :
			    			</div>
			    			<div class="col">
			    				<div style="height: 16px; width: {{rate.two}}%; transition: width 0.1s; background: #FFB234;margin-top:-3px;"></div>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<div class="col-30">
			    				<i class="icon ion-android-star" style="color:#FF8B5A"></i> 1 :
			    			</div>
			    			<div class="col">
			    				<div style="height: 16px; width: {{rate.one}}%; transition: width 0.1s; background: #FF8B5A;margin-top:-3px;"></div>
			    			</div>
			    		</div>
			    	</p>
			    </div>
			    <div ng-if="!view_ratings"><p>No Rating(s) yet !</p></div>
			</div>

		</div>
		<div class="row">
			<div class="col">
				<button class="button button-block button-balanced" ng-click="editUser(userInfo.account_id)">Edit User Information</button>
			</div>
		</div>
  	</ion-content>
</ion-view>


<script id="editUser.html" type="text/ng-template">
  	<ion-modal-view  cache-view="false">
	    <ion-header-bar style="background:#2bb873;">
	      	<h1 class="title" style="color:white">Edit Information</h1>
	      	<button class="button button-icon ion-ios-close-outline" style="color:white" ng-click="closeEditModal();"></button>
	    </ion-header-bar>
    	<ion-content class="modalLogin appoint" has-bouncing="true" >
    		<form novalidate="novalidate" ng-submit="updateUser(data)" name="data">
	    		<div class="list" style="margin:10px;margin-top:20%;">
		          	<label class="item item-input">
			            <div class="input-label">
			             Property Name
			            </div>
			            <input type="text" placeholder="Tap to add" ng-model="profile.property_name" required>
            			<i class="icon ion-alert-circled assertive error"></i>
		          	</label>
		          	<label class="item item-input">
			            <div class="input-label">
			             Address
			            </div>
			            <input type="text" placeholder="Tap to add" ng-model="profile.property_address" required>
            			<i class="icon ion-alert-circled assertive error"></i>
		          	</label>
		          	<label class="item item-input">
			            <div class="input-label">
			             Postal Code
			            </div>
			            <input type="text" placeholder="Tap to add" ng-model="profile.property_postal_code" required>
            			<i class="icon ion-alert-circled assertive error"></i>
		          	</label>
		          	<label class="item item-input">
			            <div class="input-label">
			             Phone
			            </div>
			            <input type="tel" placeholder="Tap to add" ng-model="profile.property_phone" required>
            			<i class="icon ion-alert-circled assertive error"></i>
		          	</label>
		          	<label class="item item-input">
			            <div class="input-label">
			             Card Name
			            </div>
			            <input type="text" placeholder="Tap to add" ng-model="profile.card_name" required>
            			<i class="icon ion-alert-circled assertive error"></i>
		          	</label>
		          	<label class="item item-input">
			            <div class="input-label">
			             Card Number
			            </div>
			            <input type="text" placeholder="Tap to add" ng-model="profile.card_number" required>
            			<i class="icon ion-alert-circled assertive error"></i>
		          	</label>
		          	<label class="item item-input">
			            <div class="input-label">
			             Start Date
			            </div>
			            <input type="month" placeholder="Tap to add" ng-model="profile.card_start_date" required>
            			<i class="icon ion-alert-circled assertive error-month"></i>
		          	</label>
		          	<label class="item item-input">
			            <div class="input-label">
			             End Date
			            </div>
			            <input type="month" placeholder="Tap to add" ng-model="profile.card_end_date" required>
            			<i class="icon ion-alert-circled assertive error-month"></i>
		          	</label>
		          	<label class="item item-input">
			            <div class="input-label">
			             Issue Number
			            </div>
			            <input type="text" placeholder="Tap to add" ng-model="profile.card_issue_number" required>
            			<i class="icon ion-alert-circled assertive error"></i>
		          	</label>
		          	<label class="item item-input">
			            <div class="input-label">
			             Email
			            </div>
			            <input type="email" placeholder="Tap to add" ng-model="profile.email" required>
            			<i class="icon ion-alert-circled assertive error"></i>
		          	</label>
		          	<label class="item item-input">
			            <div class="input-label">
			             Password
			            </div>
			            <input type="password" placeholder="Change Password" ng-model="profile.profile_password" >
		          	</label>
		            <div class="row">
		              <div class="col"><button class="button button-block button-balanced">Update User</button></div>
		            </div>
		        </div>
		    </form>
    	</ion-content>
  	</ion-modal-view>
</script>